body {
  background-color: #E8E8E8;
}

.container{ 
  border: solid 1px;
  margin-top: 15%;
  width: 50%;
  height: 100%;
  background-color: white;

}

#left-arrow{
  margin-left: auto;
  float: left;
  position: absolute;
  top: 25px;
}

#right-arrow{
  margin-right: auto;
  float: right;
  position: absolute;
  top: 25px;
  right: 0px;
}

/*.button-primary{
  background-color: #0088cc;
  color: white;
}*/
