<div class="container">
    <h1 id="date">Lightning Talks - <%=@date%></h1> 
    <table id="topics-date">
      <th>Topic</th>
      <th>Author</th>
      <% @days_talks.each do |talk| %>
         <tr>
          <td class='talk'><%= talk.topic %></td>
          <td class='author'><%= talk.speaker %></td>
        </tr>
      <% end %>
    </table>
</div>
