<div id="left-arrow"><button><</button></div>
  <div class="container">
    <h1>Lightning Talks - 10/1/2013</h1> 
    <table id="topics-date">
      <th>Topic</th>
      <th>Author</th>
        <tr>
          <td class='talk'>Backbone</td>
          <td class='author'>Doug</td>
        </tr>
        <tr>
          <td class='talk'>Business Model Canvas</td>
          <td class='author'>Robert</td>
        </tr>
        <tr>
          <td class='talk'>JSON</td>
          <td class='author'>Nick</td>
        </tr>
    </table>
    <button class='add_talk'>Add Talk</button>
  </div>
<div id="right-arrow"><button>></button></div>


