<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>enlYtify</title>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/dashboard.css">
</head>
<body>
  <%= yield %>
</body>
</html>
