<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>enlYtify</title>
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
  <link rel="stylesheet" type="text/css" href="/talk.css"> 
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/dashboard.css">
</head>
<body>
  <button id='logout' class="btn btn-primary" href="/sign_out">Logout</button>
  <%= yield %>
  <script type="text/javascript" src="/dashboard.js"></script>
</body>
</html>

